
.test {
  color: black;
}

.logotip {
  width: 120px;
  height: 31px;
  /* background: rgba(255, 255, 255, 0.2); */
  padding-bottom: 66px;
  padding-top: 26px;
  padding-left: 76px;
  /* float: left; */
  color: #fff;
  font-size: 20px;
}

.site-layout-background {
  background: #fff;
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}


.Logotip label {
  font-size: 20px;
}
